#header {
    height: 125px;
    background-color: black;
    display: flex;
    padding-left: 32px;
    padding-right: 32px; 
}

.header-link {
    color: white;
    font-size: 16px;
    margin-right: 50px;
}

.header-link:hover {
    color: #A1ACB3;
}

.header-quote {
    color: #FAFAFA;
    font-size: 14px;
    padding-right: 100px;
    padding-top: 50px;
    font-style: italic;
    margin-left: 16px;
}

.header-logo {
    padding-top: 36px;
    width:150px;
}

.small-logo {
    display: none;
}

.header-logo img {
    width:100%;
}

.header-links {
    padding-top: 50px;
    display: flex;
    float:right;
    margin-left: auto;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

#container {
    height: 300px;
    display:flex;
    justify-content: center;
    margin-top: 75px;
}

#info-form {
    width: 200px;
}

.form-fields {
    margin-top: 16px;
}

#email {
    width:100%;
    margin-bottom: 12px;
}

#name {
    width: 100%;
    margin-bottom: 12px;
}

#robot-check > label {
    float:right;
    margin-right: 50px;
    margin-bottom: 12px;
}

#info-form > :nth-child(7) {
    width:100%;
}



/* Media queries for small devices (790px and up) */
@media only screen and (max-width: 790px) {
  
    #header {
        height: 75px;
        transition: ease-in-out .1s;
    }

    .header-links {
        display: none;
    }

    .header-quote {
        display: none;
    }
    
    .large-logo {
        display: none;
    }
    
    .small-logo {
        display:flex;
    }
    
    .header-logo {
        padding-top: 7px;
        width:40px;
        
    }
    
}
